.proceed-button {
  color:  #2CC7D9;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.4rem;
}

.proceed-button:hover, .proceed-button:active{
  color: #F2B56B;
}

.landing-page {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}