.homepage-buttons, .return-to-top-button {
  margin-top: 10px;
  color:  #2CC7D9;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.4rem;
  height: 50px;
}

.homepage-buttons:hover, .return-to-top-button:hover, .homepage-buttons:active, .return-to-top-button:active {
  color: #F2B56B;
}

.return-to-top-button {
  margin: 30px;
}

.allEventsSection {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom:none !important;
}

@media only screen and (min-width: 500px) {
.allEventsSection {
  width: 80%;
}
}

@media only screen and (min-width: 700px) {
  .allEventsSection {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
  }
  .allEventsSection > #event-section {
    margin-left: 0px;
    margin-right:0px;
    padding: 5px;
    width: 33%;
    border:none;
    
    
    flex-grow: 0;
  }
#event-section > h2 {
  height :78px;
  margin-bottom: 15px;
  word-break: break-word;
}

#event-section > h3 {
  height: 46px;
}

#event-section > h4 {
  height: 54px;
}
  }

  @media only screen and (min-width: 900px) {
    .allEventsSection {
      width: 70%;
    }

    #event-section > h2 {
      height :96px;
    }
    #event-section > h3 {
     height: 84px;
   }
   
   #event-section > h4 {
     height: 66px;
   }

   .view-event-details-button {
     height: 60px;
   }
    }