.create-new-event-button, .delete-account-buttons {
  color: #F2B56B;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.4rem;
  height: 50px;
}

.my-account-page-buttons {
  color: #F2B56B;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.4rem;
  height: 50px;
}

.create-new-event-button:hover, .create-new-event-button:active, .delete-account-buttons:hover, .delete-account-buttons:active{
  color: #2CC7D9;
}

.my-account-page-section {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.account-options {
  margin-bottom: 30px;
}

.welcome-header{
  font-size: 2.5rem;
}

.booking-requests-header, .hosted-events-header {
  color:  #2CC7D9;
}

.final-confirm-delete {
  font-size: 1.1rem;
  color:red;
}

