.filterOptions {
  margin-top: 10px;
  border: none;
  width: 90%;
  margin-left:auto;
  margin-right: auto;
}

label {
  font-size: 0.7rem;
  margin-left: 2px;
  margin-right: 2px;
}

input {
  margin-left: 2px;
  margin-right: 2px;
}

.filter-button{
  color: #D9486E;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.2rem;
}

.filter-button:hover {
  color: #F2B56B;
}

