img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.event-section {
  width: 100%;
  margin-left:auto;
  margin-right: auto;
}

h2 {
  font-family: 'Bangers', cursive;
  color:#183F74;
  font-size: 1.7rem;
  margin: 8px;
}

.view-event-details-button{
  color:  #2CC7D9;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 8px;
  border:none;
  font-size: 1.4rem;
  height: 50px;
}

.view-event-details-button:hover, .view-event-details-button:active {
  color: #F2B56B;
}

h3 {
  font-size: 1rem;
  margin: 4px;
}

h4{
  font-size: 0.8rem;
  margin: 4px;
}