.requested-events {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  padding:0px;
  text-align: left;
  font-size: 1rem;
  list-style:none;
}

.requested-events > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.request-details {
  list-style: none;
  padding:0px;
}

.event-name {
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
  color: #183F74;
}

.pending-status{
  color: grey;
}

.accepted-status {
  color: green;
}

.denied-status {
  color: red;
}

@media only screen and (min-width: 700px) {
  .requested-events{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
  }

  .requested-events > li {
    padding: 5px;
    width: 33%;
    flex-grow: 0;
  }

  .event-name-header {
    height: 64px;
    word-break: break-word; 
    margin-bottom:5px;
  }
}


@media only screen and (min-width: 900px) {
  .event-name-header {
    height: 70px;
  }
}