.requested-events {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  padding:0px;
  text-align: left;
  font-size: 1rem;
  list-style:none;
}

.requested-events > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.request-details {
  list-style: none;
  padding:0px;
}

.event-name {
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
  color: #183F74;
}

.pending-status{
  color: grey;
}
.accepted-status {
  color: green;
}
.denied-status {
  color: red;
}