.hosted-events {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
  padding:0px;
  text-align: left;
  font-size: 1rem;
  list-style:none;
}

.hosted-events > li {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hosted-event-details {
  list-style: none;
  padding:0px;
}

.event-name {
  margin-top: 8px;
}


.manage-event-button, .cancel-event-button {
  font-size: 0.9rem;
  background-color:transparent;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 2px;
  color: grey;
  font-weight: bold;
}

.manage-event-button:hover, .manage-event-button:active, .cancel-event-button:hover, .cancel-event-button:active {
  color:#F2B56B;
}

.managing-options {
  width: 60%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}



@media only screen and (min-width: 700px) {
  .hosted-events{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }

  .hostedEventDetails {
    margin-left: 10px;
    margin-right: 10px;
    width: 42%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .managing-options {
    width: 100%;
  }

  .event-name {
    word-break: break-word;
    height: 64px;
  }
}


@media only screen and (min-width: 700px) {
  .event-name {
    height: 77px;
  }
};