* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1.3;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav,
footer {
  padding: 1% 0;
  background-color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 12% 0;
}

section {
  margin-top:0px;
  min-height: 100px;
  padding: 6% 0;
  background-color: white;
}

section:nth-child(even) {
  border-top: 3px solid rgb(241, 182, 109, 0.4);
  border-bottom: 3px solid rgb(241, 182, 109, 0.4);
  /* background-color: rgb(241, 182, 109, 0.4);; */
}

