.green{
  color: green;
}
.grey{
  color: grey;
}


.sign-up-fields {
  margin-top: 10px;
  border: none;
  margin-left:auto;
  margin-right: auto;
  font-size: 1.4rem;
}


.sign-up-form {
  width: 90%;
  margin-top: 50px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 50px;

}

.register-button {
  color:  #2CC7D9;
  font-family: 'Bangers', cursive;
  font-size: 1.1rem;
  background-color: transparent;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
  border: none;
  font-size: 1.4rem;
}

.register-button:hover{
  color: #F2B56B;
}

.options-links > a {
  color:#444444;
  font-size: 0.8rem;
  display: block;
  margin: 3px;
}

.options-links > a:hover {
  color: #A61C29;
}

.app-name{
  font-family: 'Bangers', cursive;
  font-size: 2rem;
  color:  #2CC7D9;
}

.password-requirements {
  margin-top: 10px;
}

.password-requirements > p {
  font-size: 0.7rem;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 0;
}