.navigationLinks {
  display: flex;
  justify-content: center;
  margin:0;
  padding:0; 
}

.navigationLinks > li {
  list-style:none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.4rem;
}

a {
  color: #2CC7D9;
  text-decoration: none;
}

a:visited {
  color:  #2CC7D9;
  text-decoration: none;
}

a:hover {
  color: #F2B56B;
}
